body{
    margin: 0;
    padding: 0;
}

header{
    background: #5d04d9;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.geek{
    font-size: 30px;
    color: white;
}