@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


body{
    margin: 0;
    padding: 0;
}

header{
    background: #5d04d9;
}

.contenedor{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.geek{
    font-size: 24px;
    font-family: "Press Start 2P", system-ui;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor1{
    display: flex;
    flex-direction: column;
    text-align: center;
}

h2{
    font-family: "Press Start 2P", system-ui;
    width: 350px;
    text-align: center;
    margin: 50px auto;
}

.formulario{
    margin: auto;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    gap: 40px;
}

input{
    padding: 15px;
    border-radius: 40px;
    border: solid 2.9px #03318c;
    color: #03318c;
}

::placeholder{
    color: #03318c;
    font-weight: 900;
    font-family: "IBM Plex Mono", monospace;
}

.botones{
    width: 350px;
    gap: 13px;

}

.btn_submit{
    background: #03318c;
    color: white;
    width: 164px;
    border-radius: 15px;
    font-size: 20px;
}

.btn{
    width: 164px;
    border-radius: 15px;
    font-size: 20px;
    background: white;
}

.productos{
    margin-left: 20px;
}

.seccion1{
    display: flex;
    gap: 10px;
    overflow: scroll;
}

.seccion2{
    display: flex;
    gap: 10px;
    overflow: scroll;
}

.seccion3{
    display: none;
}

.card{
    background: #5D04D9;
    width: 196px;
    height: 258px;
    padding: 10px;
    border-radius: 5px;
    border: solid 3px black;
    margin-bottom: 30px;
    margin-top: 30px;
}